*{
    margin: 0;
    padding: 0;
}
body{

    font-family: 'Lato', sans-serif;
      
   }
/*navigation bar style*/
.menu-container{
    display:flex;
    justify-content:space-around;
    background-color: #3b2727;
    color: white;
    padding: 12px;
}
.menus{
    display: flex;
    list-style: none;
}
.item{
    margin-right:17px;
    padding: 5px;
    font-size: 18px;
}
.logo{
    width:100px;
    padding: 5px;
 
}

/*banner section style*/
.banner-container{
    display: flex;
    justify-content:space-around;
    height: 100vh;
    gap: 5px;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}
.banner-text{
    margin: 180px 0px 260px 50px;
}
.title{
    color: #272727;
    font-size: 50px;
    font-weight: 750;
    margin-top: 170px;

    
}

.descriptions{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-top: 25px;
    font-weight: 400;
    line-height: 30px;
}
.btn{
    margin-top: 20px;
    padding: 15px 35px;
    outline: none;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
}
.banner-photo{
    width: 500px;
    align-items: center;
    margin-right: 80px;
    
}
/*features section style*/
.features-section{
    display: grid;
    place-items: center;
}
.features-title{
    color: #272727;
    text-align: center;
    font-weight: 800;
    margin-top: 170px;
}
.features-descriptions{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
}
.features-iamges{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 48px;
}
.fimg{
    width: 250px;
    height: 250px;
}


/* hot-deal section style */
.hot-deal-container{
    display: flex;
    padding: 25px;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
       
}
.hot-deal-container-text{
    text-align: center;
    margin-top: 15px;
    padding-left: 110px;
}
.second-title{
    color: #272727;
    font-weight: 800;
}
.span{
    color: #E55473;
}
.photo{
    width: 300px;
    padding-right: 120px;
}

/*instagram section style*/
.container-two{
    text-align:center ;
    margin-top: 120px;
}
.insta{
    color: #272727;
    font-weight: 800;
}
.insta-text{
    color: rgba(39, 39, 39, 0.60);
    margin-top: 15px;
    line-height: 30px;
}
.flower-iamges{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 48px;
    
}
.img{
    width: 250px;
    height: 250px;
}

/*latest deal style*/
.latest-deal-section{
    display: grid;
    place-items: center;
    margin: 125px 145px 125px 145px;
    background-position: center;
    border-radius: 8px;

    

}
/*contact style*/
.contact-section {
    background-color: #f1f1f1;
    padding: 50px;
    text-align: center;
  }
  .contact-header{
    padding-bottom: 15px;
    color: #272727;
    font-weight: 800;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background: #E55473;
    color: white;
    border: none;
  }
  

/*footer section style*/
.footer-text{
    display: grid;
    place-items: center;
    background-color: black;
    color: white;
    padding-bottom: 40px;

}
.last-title{
    margin-top: 100px;
    font-size: 30px;
    font-weight: 800;
}
.footer-descriptions{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 24px;
    }
.copy{
    padding: 15px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}